 <!--projects.ejs | Lyndsay Riches | 301271507 | September 26, 2023 -->

<!--main_nav & header includes-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %> 

<main class="container">
  <div class="row row-eq-height">

<!--MAIN CONTENT-->
    <div class="col-12 main-content">
      <h1 class="title display-4"><%= title %></h1>

<!--GAME DEV PROJECTS-->
      <h2 class="subtitle">Game Development Projects</h2>

<!--3 COLUMN LAYOUT-->
          <div class="row">
            <div class="col-md-4 project-cols">
              <img alt="Steel Gladiators Game Promo Image" src="/img/SteelGladiators-1.jpg" class="project-img">
              <h3 class="project">Steel Gladiators</h2>
              <p>Steel Gladiators is a 2D, top-down shooter that I developed along with classmates in our first semester of the Game Programming Online course.
                While the game used pre-made assets, I created the logo and many additional sprites for the game that were not included in the original asset bundle. I also
                played a large part in coding the various mechanics of the game, including power-ups, debuffs, and player movement.</p>
            </div>
            <div class="col-md-4 project-cols">
              <img alt="Breakout Game Screen Capture Image" src="/img/Breakout-1.jpg" class="project-img">
              <h3 class="project">Breakout</h2>
              <p>In my version of the classic video game "Breakout," I utilized retro-style graphics, bright colours, and fun power-ups to make the game challenging and fun.
                I created all of the sprites for the game, including the player paddle, ball, and bricks. I also coded the game mechanics, including the ball's movement, the
                player's paddle movement, and the power-ups.
              </p>
            </div>
            <div class="col-md-4 project-right">
              <img alt="Pong Game Screen Capture Image" src="/img/Pong-1.jpg" class="project-img">
              <h3 class="project">Pong</h2>
              <p>The classic vidoe game "Pong" was a great learning experience for me as a beginner in learning game programming. I coded the entire game, including
                the physics, paddle movement, scoring system, and UI screens. I also created all of the sprites for the game, including the paddles, ball, and UI elements.
              </p>
            </div>
          </div> <!--END 3 COLUMNS-->

    </div>
    
  </div><!--END ROW DIV-->

</main><!--END MAIN-->

<!--bottom nav & footer includes-->
  
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
   